body {
    background-color: darkgreen;
    background-image: url(./images/papel-decoupage-pd-912-cartas-baralho-34-3x49-litoarte-decoupage.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.container h1{
    color: red;
    font-weight: 500;
    font-size: 40px;
}

.container #carta{
    margin: 20px 0;
}

.container #retirar-carta{
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.container #retirar-carta:hover{
    background-color: darkred;
}

.container #retirar-carta:active{
    background-color: #ddd;
    color: #000;
}